.demo-target {
    background: white;
    clear: both;
    /*
    border: 1px solid #AAA;
    */
    width: 300px;
    height: 300px;
    margin: 0 auto
}

.demo {
    text-align: center
}

.demo-divider {
    margin: 40px 0
}

.demo-docs-link {
    display: inline-block;
    margin-top: 20px
}

.char-select-form {
    margin-bottom: 20px
}

.demo-controls {
    border: 1px solid #AAA;
    margin: 10px auto;
    padding: 10px;
    width: 300px
}

.demo-controls .btn {
    margin-left: 20px
}

.character-select {
    width: auto !important;
    display: inline-block !important
}

.docs h1 {
    margin-top: 0;
    padding-top: 50px
}

.docs h1:first-child {
    padding-top: 0
}

.docs h4,
.docs h3,
.docs h2 {
    margin-top: 0;
    padding-top: 30px
}

.docs p {
    margin-top: 10px
}

.docs .affix {
    position: fixed !important
}

.docs .toc {
    width: 263px;
    top: 5px
}

@media (max-width: 1200px) {
    .docs .toc {
        width: 200px
    }
}

@media (max-width: 992px) {
    .docs .toc {
        width: 165px
    }
}

@media (max-width: 768px) {
    .docs .toc {
        display: none
    }
}

.docs .toc .nav a {
    padding: 3px 10px;
    font-weight: bold
}

.docs .toc .nav li.active>a {
    border-left: 2px solid #337ab7;
    padding-left: 8px;
    font-weight: bold
}

.docs .toc .nav .nav a {
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px
}

.docs .toc .nav .nav li.active>a {
    padding-left: 18px
}

.docs .content {
    border-left: 1px solid #eee
}

.inline-demo {
    border: 1px solid #CCC;
    width: 102px;
    height: 102px;
    margin-right: 5px;
    flex-shrink: 0
}

.medium-demo {
    width: 150px;
    height: 150px
}

.inline-demo-console {
    font-family: monospace;
    font-size: 10px;
    border: 1px solid #CCC;
    width: 400px;
    height: 150px;
    padding-left: 5px;
    overflow-y: scroll
}

.inline-demo-btn {
    width: 100px;
    margin-top: 3px
}

.inline-demo-flex {
    display: flex
}

.license-block {
    margin: 50px 0
}

